---
http_interactions:
- request:
    method: post
    uri: https://sqs.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=CreateQueue&QueueName=two&Version=2012-11-05
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20230922T161030Z
      X-Amz-Security-Token:
      - AWS_SESSION_TOKEN
      X-Amz-Content-Sha256:
      - 1ca8d2c534ca060462a7bdd4dc2d3c345b1817ac7ab48bd65c3091f4ff002403
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20230922/us-east-2/sqs/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-security-token,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - def740bc-9880-5382-acea-1d3b2636f8b7
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0"?><CreateQueueResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><CreateQueueResult><QueueUrl>https://sqs.us-east-2.amazonaws.com/AWS_ACCOUNT_ID/two</QueueUrl></CreateQueueResult><ResponseMetadata><RequestId>def740bc-9880-5382-acea-1d3b2636f8b7</RequestId></ResponseMetadata></CreateQueueResponse>
  recorded_at: Fri, 22 Sep 2023 16:10:30 GMT
- request:
    method: post
    uri: https://sqs.us-east-2.amazonaws.com/AWS_ACCOUNT_ID/two
    body:
      encoding: UTF-8
      string: Action=SendMessage&MessageBody=%7B%22type%22%3A%22CreateIndexJob%22%2C%22index_id%22%3A%22foo%401%22%2C%22indexing_strategy_name%22%3A%22I1%22%7D&QueueUrl=https%3A%2F%2Fsqs.us-east-2.amazonaws.com%2FAWS_ACCOUNT_ID%2Ftwo&Version=2012-11-05
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20230922T161030Z
      X-Amz-Security-Token:
      - AWS_SESSION_TOKEN
      X-Amz-Content-Sha256:
      - 3aee14cfdfd0f159091a0c50cc3b4d0b926ecf84cb3b5e5b0ad3fd9d9cc1f473
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20230922/us-east-2/sqs/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-security-token,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 0463264e-3b84-5806-86c6-7bc985322333
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0"?><SendMessageResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><SendMessageResult><MessageId>be903c06-d673-44a9-8228-2022f29ba81f</MessageId><MD5OfMessageBody>d7e6067d80f35a54d05ce7df98875fd4</MD5OfMessageBody></SendMessageResult><ResponseMetadata><RequestId>0463264e-3b84-5806-86c6-7bc985322333</RequestId></ResponseMetadata></SendMessageResponse>
  recorded_at: Fri, 22 Sep 2023 16:10:30 GMT
- request:
    method: post
    uri: https://sqs.us-east-2.amazonaws.com/AWS_ACCOUNT_ID/two
    body:
      encoding: UTF-8
      string: Action=ReceiveMessage&QueueUrl=https%3A%2F%2Fsqs.us-east-2.amazonaws.com%2FAWS_ACCOUNT_ID%2Ftwo&Version=2012-11-05
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20230922T161030Z
      X-Amz-Security-Token:
      - AWS_SESSION_TOKEN
      X-Amz-Content-Sha256:
      - fa8c61480f7d1ef08d93d21d06a57918af5366cdfebae3f9739d2b88680e25ad
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20230922/us-east-2/sqs/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-security-token,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 3d786c59-e832-5fb6-a7cf-31de5684d483
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0"?><ReceiveMessageResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><ReceiveMessageResult><Message><MessageId>be903c06-d673-44a9-8228-2022f29ba81f</MessageId><ReceiptHandle>AQEBYL8yXCRfEOAgR2DLD3EV49Pkf2ttJehlUoA9cXLTeDnGTbLQLC8tRlYNZMEqDTYlGv6jCEbCJUbAxuEKW+iaaH8M/AIIqHk3nXtl+DjfadxyuQP9Tt4FsH9OJfwU+VtHxWiQj8JhYWIyER1yraeHcshC+9Z9Jztym3wQ8Q5lTLf3SeebYfdD+rroNC2J5gepJIM9MJgYJ8pl/ZV3h3wziQT+nW1o7OpSyP5F6J6hdafaYQkTqjeCdnFuxwPVrPY0dP6ZXqQfpj8qkwNJyjcMxtEBQobXlaFcnw/9pLluLOSwCzKjzyugmGl5HW9XewIVMIwAIIi9iqtGYlEWamtd2lnIsB7IHxPW0XDrCQYqcZPPn+dCdM9BnZIB3C17eAA9</ReceiptHandle><MD5OfBody>d7e6067d80f35a54d05ce7df98875fd4</MD5OfBody><Body>{&quot;type&quot;:&quot;CreateIndexJob&quot;,&quot;index_id&quot;:&quot;foo@1&quot;,&quot;indexing_strategy_name&quot;:&quot;I1&quot;}</Body></Message></ReceiveMessageResult><ResponseMetadata><RequestId>3d786c59-e832-5fb6-a7cf-31de5684d483</RequestId></ResponseMetadata></ReceiveMessageResponse>
  recorded_at: Fri, 22 Sep 2023 16:10:30 GMT
- request:
    method: post
    uri: https://sqs.us-east-2.amazonaws.com/AWS_ACCOUNT_ID/two
    body:
      encoding: UTF-8
      string: Action=DeleteQueue&QueueUrl=https%3A%2F%2Fsqs.us-east-2.amazonaws.com%2FAWS_ACCOUNT_ID%2Ftwo&Version=2012-11-05
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20230922T161030Z
      X-Amz-Security-Token:
      - AWS_SESSION_TOKEN
      X-Amz-Content-Sha256:
      - 91abd00f4881f4a54f66a6ae121efc19d1753772903b953ccbcab1ba052d2892
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20230922/us-east-2/sqs/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-security-token,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - bce79e07-241a-58a3-889e-c3809aacc396
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0"?><DeleteQueueResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><ResponseMetadata><RequestId>bce79e07-241a-58a3-889e-c3809aacc396</RequestId></ResponseMetadata></DeleteQueueResponse>
  recorded_at: Fri, 22 Sep 2023 16:10:30 GMT
recorded_with: VCR 6.1.0
