---
http_interactions:
- request:
    method: post
    uri: https://sqs.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"QueueName":"two"}'
    headers:
      Amz-Sdk-Invocation-Id:
      - 83ac33a7-28c0-4d8d-9744-c474898a1dbe
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Target:
      - AmazonSQS.CreateQueue
      X-Amzn-Query-Mode:
      - 'true'
      X-Amz-Date:
      - 20251021T181301Z
      X-Amz-Security-Token:
      - AWS_SESSION_TOKEN
      X-Amz-Content-Sha256:
      - 5ae8b865cbf1a144d6b3f119b48c433a3f6f384758fe7ba8d36d6645b3a4d558
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20251021/us-east-2/sqs/aws4_request,
        SignedHeaders=amz-sdk-invocation-id;content-type;host;x-amz-content-sha256;x-amz-date;x-amz-security-token;x-amz-target;x-amzn-query-mode,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - '09c0c0ca-c022-54a8-a0d2-a1bb0f4f3d63'
      Content-Type:
      - application/x-amz-json-1.0
    body:
      encoding: UTF-8
      string: '{"QueueUrl":"https://sqs.us-east-2.amazonaws.com/AWS_ACCOUNT_ID/two"}'
  recorded_at: Tue, 21 Oct 2025 18:13:01 GMT
- request:
    method: post
    uri: https://sqs.us-east-2.amazonaws.com/AWS_ACCOUNT_ID/two
    body:
      encoding: UTF-8
      string: '{"MessageBody":"{\"type\":\"CreateIndexJob\",\"index_id\":\"foo@1\",\"indexing_strategy_name\":\"I1\"}","QueueUrl":"https://sqs.us-east-2.amazonaws.com/AWS_ACCOUNT_ID/two"}'
    headers:
      Amz-Sdk-Invocation-Id:
      - 86538a21-bf08-438c-b2c6-0b6d3a25f17d
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Target:
      - AmazonSQS.SendMessage
      X-Amzn-Query-Mode:
      - 'true'
      X-Amz-Date:
      - 20251021T181302Z
      X-Amz-Security-Token:
      - AWS_SESSION_TOKEN
      X-Amz-Content-Sha256:
      - ccaf4ff51716dc9ff2eae632dd735f1c6eb46dd4ff66d1aac610cf51acde1813
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20251021/us-east-2/sqs/aws4_request,
        SignedHeaders=amz-sdk-invocation-id;content-type;host;x-amz-content-sha256;x-amz-date;x-amz-security-token;x-amz-target;x-amzn-query-mode,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - f07481c6-73e7-5e15-9fb6-e0b7bc89e7de
      Content-Type:
      - application/x-amz-json-1.0
    body:
      encoding: UTF-8
      string: '{"MD5OfMessageBody":"d7e6067d80f35a54d05ce7df98875fd4","MessageId":"46dd5e1d-29d8-4df5-a5c7-935c5e6be836"}'
  recorded_at: Tue, 21 Oct 2025 18:13:02 GMT
- request:
    method: post
    uri: https://sqs.us-east-2.amazonaws.com/AWS_ACCOUNT_ID/two
    body:
      encoding: UTF-8
      string: '{"QueueUrl":"https://sqs.us-east-2.amazonaws.com/AWS_ACCOUNT_ID/two"}'
    headers:
      Amz-Sdk-Invocation-Id:
      - 207731a9-6060-4ab9-987f-d07240f801a8
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Target:
      - AmazonSQS.ReceiveMessage
      X-Amzn-Query-Mode:
      - 'true'
      X-Amz-Date:
      - 20251021T181302Z
      X-Amz-Security-Token:
      - AWS_SESSION_TOKEN
      X-Amz-Content-Sha256:
      - a5da3dd0a4947d7f175a3df203979f9f1674217d2e5e2d0b219dfa5684181433
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20251021/us-east-2/sqs/aws4_request,
        SignedHeaders=amz-sdk-invocation-id;content-type;host;x-amz-content-sha256;x-amz-date;x-amz-security-token;x-amz-target;x-amzn-query-mode,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - fed2ec7e-a440-5ac0-9521-8d0f6b2ee30b
      Content-Type:
      - application/x-amz-json-1.0
    body:
      encoding: UTF-8
      string: '{"Messages":[{"Body":"{\"type\":\"CreateIndexJob\",\"index_id\":\"foo@1\",\"indexing_strategy_name\":\"I1\"}","MD5OfBody":"d7e6067d80f35a54d05ce7df98875fd4","MessageId":"46dd5e1d-29d8-4df5-a5c7-935c5e6be836","ReceiptHandle":"AQEBU8BGtvNZsBFwjlPl3hq5Za86oWUYB//ywxeiDYaCP+JgYoE1hW9uzgWN0+941AWzOFuHVIjKJDg36sHsxev43O/7ObYz6s6Ih5GuLPwe45PKwcGWilq35NnMkecksRhL02qNs6tADtltJmUGTJxJlKl72Al6ZvGpvHg7tV8SSWO6j7KArOxo+oqla8o7edMqq34KeSX4yzRmoLYyoX50gbaqC/6zLEk+pIBX3kaVVSmcAa4xmSABoxMcUtVDWtoMoJ3+bkk8xdvT712ws+r13xb3APdrT0fqdp7kYhoXz4/QOBTGWQnwqSVvVo95FD86Y7SGKrIYxecpAQeyrAUxTzltUsE0aQUDBkYBJfNxai/Z43S8v7+unkJ4mCK8CmsS"}]}'
  recorded_at: Tue, 21 Oct 2025 18:13:02 GMT
- request:
    method: post
    uri: https://sqs.us-east-2.amazonaws.com/AWS_ACCOUNT_ID/two
    body:
      encoding: UTF-8
      string: '{"QueueUrl":"https://sqs.us-east-2.amazonaws.com/AWS_ACCOUNT_ID/two"}'
    headers:
      Amz-Sdk-Invocation-Id:
      - 2919858d-9cb2-42f3-8036-9fe6ccce8b6d
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Target:
      - AmazonSQS.DeleteQueue
      X-Amzn-Query-Mode:
      - 'true'
      X-Amz-Date:
      - 20251021T181302Z
      X-Amz-Security-Token:
      - AWS_SESSION_TOKEN
      X-Amz-Content-Sha256:
      - a5da3dd0a4947d7f175a3df203979f9f1674217d2e5e2d0b219dfa5684181433
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20251021/us-east-2/sqs/aws4_request,
        SignedHeaders=amz-sdk-invocation-id;content-type;host;x-amz-content-sha256;x-amz-date;x-amz-security-token;x-amz-target;x-amzn-query-mode,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - d1af85fd-c65d-54f8-8188-e48c09332d33
      Content-Type:
      - application/x-amz-json-1.0
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 21 Oct 2025 18:13:02 GMT
recorded_with: VCR 6.3.1
