---
http_interactions:
- request:
    method: post
    uri: https://sqs.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"QueueName":"one"}'
    headers:
      Amz-Sdk-Invocation-Id:
      - f8831d43-50ab-4125-bbaf-da9bc9fd97cf
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Target:
      - AmazonSQS.CreateQueue
      X-Amzn-Query-Mode:
      - 'true'
      X-Amz-Date:
      - 20251021T181255Z
      X-Amz-Security-Token:
      - AWS_SESSION_TOKEN
      X-Amz-Content-Sha256:
      - 53dd0ffef8114bf306b2bae76eefd8f051573d81e86972bf6f03a4c74066e199
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20251021/us-east-2/sqs/aws4_request,
        SignedHeaders=amz-sdk-invocation-id;content-type;host;x-amz-content-sha256;x-amz-date;x-amz-security-token;x-amz-target;x-amzn-query-mode,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 662459af-1b68-5897-8e5b-38ded40f0dfa
      Content-Type:
      - application/x-amz-json-1.0
    body:
      encoding: UTF-8
      string: '{"QueueUrl":"https://sqs.us-east-2.amazonaws.com/AWS_ACCOUNT_ID/one"}'
  recorded_at: Tue, 21 Oct 2025 18:12:55 GMT
- request:
    method: post
    uri: https://sqs.us-east-2.amazonaws.com/AWS_ACCOUNT_ID/one
    body:
      encoding: UTF-8
      string: '{"MessageBody":"{\"type\":\"CreateIndexJob\",\"index_id\":\"foo@1\",\"indexing_strategy_name\":\"I1\"}","QueueUrl":"https://sqs.us-east-2.amazonaws.com/AWS_ACCOUNT_ID/one"}'
    headers:
      Amz-Sdk-Invocation-Id:
      - 137d3f58-0fb5-4e9e-a03d-8d3997f61598
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Target:
      - AmazonSQS.SendMessage
      X-Amzn-Query-Mode:
      - 'true'
      X-Amz-Date:
      - 20251021T181255Z
      X-Amz-Security-Token:
      - AWS_SESSION_TOKEN
      X-Amz-Content-Sha256:
      - ab1199a7bf1fba3fbb86b905bc0c3b2eac18ad990f7a3135485383b65ba44ea4
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20251021/us-east-2/sqs/aws4_request,
        SignedHeaders=amz-sdk-invocation-id;content-type;host;x-amz-content-sha256;x-amz-date;x-amz-security-token;x-amz-target;x-amzn-query-mode,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 865a18be-4a57-575c-8c09-79cf85307231
      Content-Type:
      - application/x-amz-json-1.0
    body:
      encoding: UTF-8
      string: '{"MD5OfMessageBody":"d7e6067d80f35a54d05ce7df98875fd4","MessageId":"9d5d0849-3ff3-4a9c-ba34-0b72c34d06b1"}'
  recorded_at: Tue, 21 Oct 2025 18:12:55 GMT
- request:
    method: post
    uri: https://sqs.us-east-2.amazonaws.com/AWS_ACCOUNT_ID/one
    body:
      encoding: UTF-8
      string: '{"QueueUrl":"https://sqs.us-east-2.amazonaws.com/AWS_ACCOUNT_ID/one","AttributeNames":["All"]}'
    headers:
      Amz-Sdk-Invocation-Id:
      - 04c387fb-bac0-4b36-ba21-1460c6d9df59
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Target:
      - AmazonSQS.GetQueueAttributes
      X-Amzn-Query-Mode:
      - 'true'
      X-Amz-Date:
      - 20251021T181255Z
      X-Amz-Security-Token:
      - AWS_SESSION_TOKEN
      X-Amz-Content-Sha256:
      - 70e9fa84551b2bfbce65ba78c3c76054033da4a043d3a9eda55ce4d0a34dbe72
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20251021/us-east-2/sqs/aws4_request,
        SignedHeaders=amz-sdk-invocation-id;content-type;host;x-amz-content-sha256;x-amz-date;x-amz-security-token;x-amz-target;x-amzn-query-mode,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 0c6fa2db-ea78-57c5-bca5-c3aa251fe2a8
      Content-Type:
      - application/x-amz-json-1.0
    body:
      encoding: UTF-8
      string: '{"Attributes":{"QueueArn":"arn:aws:sqs:us-east-2:AWS_ACCOUNT_ID:one","ApproximateNumberOfMessages":"1","ApproximateNumberOfMessagesNotVisible":"0","ApproximateNumberOfMessagesDelayed":"0","CreatedTimestamp":"1761070375","LastModifiedTimestamp":"1761070375","VisibilityTimeout":"30","MaximumMessageSize":"1048576","MessageRetentionPeriod":"345600","DelaySeconds":"0","ReceiveMessageWaitTimeSeconds":"0","SqsManagedSseEnabled":"true"}}'
  recorded_at: Tue, 21 Oct 2025 18:12:55 GMT
- request:
    method: post
    uri: https://sqs.us-east-2.amazonaws.com/AWS_ACCOUNT_ID/one
    body:
      encoding: UTF-8
      string: '{"QueueUrl":"https://sqs.us-east-2.amazonaws.com/AWS_ACCOUNT_ID/one"}'
    headers:
      Amz-Sdk-Invocation-Id:
      - 2dab819f-2675-4163-9991-7b342fdadcf4
      Content-Type:
      - application/x-amz-json-1.0
      X-Amz-Target:
      - AmazonSQS.DeleteQueue
      X-Amzn-Query-Mode:
      - 'true'
      X-Amz-Date:
      - 20251021T181256Z
      X-Amz-Security-Token:
      - AWS_SESSION_TOKEN
      X-Amz-Content-Sha256:
      - 38d115085b9d7f355fe6d534e2bc7324c94698ec60603f9ee2ce5d53076076f1
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20251021/us-east-2/sqs/aws4_request,
        SignedHeaders=amz-sdk-invocation-id;content-type;host;x-amz-content-sha256;x-amz-date;x-amz-security-token;x-amz-target;x-amzn-query-mode,
        Signature=<SignatureValue>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 0506045f-cbc0-5ced-9ed6-652e04a83980
      Content-Type:
      - application/x-amz-json-1.0
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 21 Oct 2025 18:12:56 GMT
recorded_with: VCR 6.3.1
